In [2]:
import numpy as np
import pandas as pd
import requests
import os

In [3]:
acronym_1 = 'ETH'
acronym_2 = 'BTC'

data_1 = requests.get('https://min-api.cryptocompare.com/data/v2/histoday', params={
    'fsym': acronym_1, 'tsym': 'USD', 'limit': '10', 'api_key': os.getenv("CRYPTOCOMPARE_API_KEY")})
df_1 = pd.DataFrame(data_1.json()['Data']['Data'])

data_2 = requests.get('https://min-api.cryptocompare.com/data/v2/histoday', params={
    'fsym': acronym_2, 'tsym': 'USD', 'limit': '10', 'api_key': os.getenv("CRYPTOCOMPARE_API_KEY")})
df_2 = pd.DataFrame(data_2.json()['Data']['Data'])

In [4]:
df_1

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
0,1657497600,1170.23,1085.30,1167.31,373157.79,4.228046e+08,1095.67,direct,
1,1657584000,1097.18,1032.47,1095.67,514019.84,5.481127e+08,1037.37,direct,
2,1657670400,1117.22,1009.82,1037.37,769754.95,8.131639e+08,1114.57,direct,
3,1657756800,1211.87,1072.08,1114.57,559535.57,6.359575e+08,1192.56,direct,
4,1657843200,1286.06,1180.38,1192.56,704281.05,8.640433e+08,1231.23,direct,
5,1657929600,1400.05,1191.62,1231.23,518063.79,6.737380e+08,1356.31,direct,
6,1658016000,1385.31,1320.65,1356.31,453213.77,6.132734e+08,1337.97,direct,
7,1658102400,1593.79,1335.77,1337.97,1027888.25,1.515087e+09,1583.55,direct,
8,1658188800,1625.03,1493.29,1583.55,875023.54,1.354213e+09,1543.12,direct,
9,1658275200,1620.73,1487.09,1543.12,655879.23,1.024543e+09,1521.72,direct,
10,1658361600,1539.81,1520.04,1521.72,6661.09,1.018897e+07,1536.66,direct,

In [5]:
df_2

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
0,1657497600,20852.04,19872.03,20846.53,37062.98,7.564812e+08,19944.25,direct,
1,1657584000,20036.49,19230.29,19944.25,44319.07,8.734865e+08,19309.71,direct,
2,1657670400,20274.83,18919.10,19309.71,60187.72,1.176644e+09,20230.81,direct,
3,1657756800,20869.51,19620.06,20230.81,50524.15,1.021415e+09,20577.38,direct,
4,1657843200,21185.15,20373.45,20577.38,35888.21,7.472163e+08,20827.27,direct,
5,1657929600,21574.75,20481.02,20827.27,27875.55,5.861025e+08,21199.01,direct,
6,1658016000,21658.47,20752.85,21199.01,25674.37,5.446093e+08,20792.81,direct,
7,1658102400,22749.06,20760.73,20792.81,66744.81,1.466429e+09,22447.39,direct,
8,1658188800,23790.89,21588.20,22447.39,79216.86,1.796379e+09,23399.91,direct,
9,1658275200,24276.14,22923.14,23399.91,74279.35,1.752952e+09,23222.77,direct,
10,1658361600,23386.04,23205.84,23222.77,696.43,1.622555e+07,23348.98,direct,

In [6]:
from datetime import datetime

dt = datetime.fromtimestamp(df_1['time'][0])
print(dt)

df_time = df_1.copy()
df_time['time'] = df_time['time'].apply(lambda x: datetime.fromtimestamp(x))
df_time

2022-07-11 00:00:00

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
0,2022-07-11,1170.23,1085.30,1167.31,373157.79,4.228046e+08,1095.67,direct,
1,2022-07-12,1097.18,1032.47,1095.67,514019.84,5.481127e+08,1037.37,direct,
2,2022-07-13,1117.22,1009.82,1037.37,769754.95,8.131639e+08,1114.57,direct,
3,2022-07-14,1211.87,1072.08,1114.57,559535.57,6.359575e+08,1192.56,direct,
4,2022-07-15,1286.06,1180.38,1192.56,704281.05,8.640433e+08,1231.23,direct,
5,2022-07-16,1400.05,1191.62,1231.23,518063.79,6.737380e+08,1356.31,direct,
6,2022-07-17,1385.31,1320.65,1356.31,453213.77,6.132734e+08,1337.97,direct,
7,2022-07-18,1593.79,1335.77,1337.97,1027888.25,1.515087e+09,1583.55,direct,
8,2022-07-19,1625.03,1493.29,1583.55,875023.54,1.354213e+09,1543.12,direct,
9,2022-07-20,1620.73,1487.09,1543.12,655879.23,1.024543e+09,1521.72,direct,
10,2022-07-21,1539.81,1520.04,1521.72,6661.09,1.018897e+07,1536.66,direct,

In [9]:
df_1_copy = df_1.copy()
df_2_copy = df_2.copy()

df_1_copy['crypto'] = acronym_1
df_2_copy['crypto'] = acronym_2

df_join = pd.concat([df_1_copy, df_2_copy], axis=0, ignore_index=True)
df_join['time'] = df_join['time'].apply(lambda x: datetime.fromtimestamp(x))
df_join = df_join[['crypto', 'time', 'open', 'high', 'low', 'close', 'volumefrom', 'volumeto']]

df_join

,crypto,time,open,high,low,close,volumefrom,volumeto
0,ETH,2022-07-11,1167.31,1170.23,1085.30,1095.67,373157.79,4.228046e+08
1,ETH,2022-07-12,1095.67,1097.18,1032.47,1037.37,514019.84,5.481127e+08
2,ETH,2022-07-13,1037.37,1117.22,1009.82,1114.57,769754.95,8.131639e+08
3,ETH,2022-07-14,1114.57,1211.87,1072.08,1192.56,559535.57,6.359575e+08
4,ETH,2022-07-15,1192.56,1286.06,1180.38,1231.23,704281.05,8.640433e+08
5,ETH,2022-07-16,1231.23,1400.05,1191.62,1356.31,518063.79,6.737380e+08
6,ETH,2022-07-17,1356.31,1385.31,1320.65,1337.97,453213.77,6.132734e+08
7,ETH,2022-07-18,1337.97,1593.79,1335.77,1583.55,1027888.25,1.515087e+09
8,ETH,2022-07-19,1583.55,1625.03,1493.29,1543.12,875023.54,1.354213e+09
9,ETH,2022-07-20,1543.12,1620.73,1487.09,1521.72,655879.23,1.024543e+09
10,ETH,2022-07-21,1521.72,1539.81,1520.04,1536.66,6661.09,1.018897e+07
11,BTC,2022-07-11,20846.53,20852.04,19872.03,19944.25,37062.98,7.564812e+08
12,BTC,2022-07-12,19944.25,20036.49,19230.29,19309.71,44319.07,8.734865e+08
13,BTC,2022-07-13,19309.71,20274.83,18919.10,20230.81,60187.72,1.176644e+09
14,BTC,2022-07-14,20230.81,20869.51,19620.06,20577.38,50524.15,1.021415e+09
15,BTC,2022-07-15,20577.38,21185.15,20373.45,20827.27,35888.21,7.472163e+08
16,BTC,2022-07-16,20827.27,21574.75,20481.02,21199.01,27875.55,5.861025e+08
17,BTC,2022-07-17,21199.01,21658.47,20752.85,20792.81,25674.37,5.446093e+08
18,BTC,2022-07-18,20792.81,22749.06,20760.73,22447.39,66744.81,1.466429e+09
19,BTC,2022-07-19,22447.39,23790.89,21588.20,23399.91,79216.86,1.796379e+09
20,BTC,2022-07-20,23399.91,24276.14,22923.14,23222.77,74279.35,1.752952e+09
21,BTC,2022-07-21,23222.77,23386.04,23205.84,23348.98,696.43,1.622555e+07